@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.login-con {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #64CCC5;
}

.left-img {
    /* padding: 50px; */
}

.toggle-password-button {
    position: relative;
    float: right;
    bottom: 55px;
    right: 3px;
    border: none;
}


.login-h1 {
    font-family: 'Pacifico', cursive;
    position: relative;
    bottom: 70px;
    font-size: 40px;
    /* margin-bottom: 100px; */
}

.right-form {
    width: 50%;
    padding: 40px 0px;
}

.input {
    background-color: #fff;
    border: none;
    padding: 0.9rem 0.9rem;
    margin: 0.5rem 0;
    width: 100%;
}

.input:focus {
    outline: none;
}

.ddsfsd {
    display: grid;
    place-content: center;
}

.button {
    background-color: #176B87;
    /* background-image: linear-gradient(90deg, #176B87 0%, #04364A 50%); */
    text-align: center;
    border: 1px solid #0367a6;
    color: #e9e9e9;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    padding: 0.9rem 4rem;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

.button {
    margin-top: 1.5rem;
}

.button:active {
    transform: scale(0.95);
}

.button:focus {
    outline: none;
}

@media screen and (max-width: 575px) {
    .left-img {
        display: none;
    }

    .login-con {
        padding: 120px 0px;
    }

    .login-h1 {
        font-size: 40px;
    }
}